/********************************************************************************************************
 * 	STYLE.CSS - MAIN TEMPLATE CSS FILE
 *  CREATED BY	: AKSHAY SARDAR
 *  FOR 		: GLAM INDIA
 *  VERSION		: 1.0
 *  CREATED ON 	: 21 AUG 2012
 *  DESCRIPTION : THIS CSS FILE CONTENT ALL THE MAIN TEMPLATE AND LAYOUT CSS.
********************************************************************************************************/
html,body { 
	height: 100%;
	} 	
body,h1,h2,h3,h4,h5,h6{
	padding:0px;
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#424343;
	}
 ul,li{
	margin:0px;
	padding:0px;
	list-style:none;
}
a{
	color:#E87E92;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	}
#main-container{
	margin:10px;
	}
#header{
margin-bottom:10px;
}	
#header-top{
	height:20px;
	padding:5px 10px;
	background-color:#424343;
	color:#fff;
	line-height:20px;
	margin-bottom:10px;
	}
#header-top-left{
	float:left;
	}
#header-top-left h1{
	font-size:16px;
	color:#fff;
	}	
#header-top-right{
	float:right;
	font-weight:bold;
	}
#header-bottom{
background-color:#D6D5D4;
}
#menu-div{

}
#middle{
min-height:500px;
padding:20px;
background-color:#F3F3F4;
}
	
#footer{
padding:10px;
background-color:#F3F3F4;
}
#copyright{
font-size:10px;
text-align:center;
font-weight:bold;
}
#middle .page-title{
font-size:16px;
padding-bottom:10px;
}
#middle .inner-title{
font-size:13px;
padding-bottom:5px;
}
#dashbord-left{
width:500px;
border:1px solid #424343;
float:left;
margin-right:50px;
margin-bottom:20px;
border-radius:5px;
background-color:#fff;
padding:10px;
min-height:200px;
}
#dashbord-right{
width:600px;
border:1px solid #424343;
float:left;
border-radius:5px;
background-color:#fff;
padding:10px;
min-height:200px;
margin-bottom:20px;
}
#summary-count-warrper{
overflow:hidden;
}
#summary-content-wapper{
padding:20px;
}
#summary-content-wapper .summary-row{
padding-bottom:15px;
}
#summary-count-warrper .grey-box{
width:200px;
background-color:#C0C0C1;
margin:10px 25px 20px 25px;
float:left;
}
#summary-count-warrper .grey-box .count-val{
color:#E87E92;
font-size:40px;
text-align:center;
padding:10px;
}
#summary-count-warrper .grey-box .text-val{
font-weight:bold;
text-align:center;
padding:10px;
background-color:#9A9B9D;
}
#dashboard-main{
overflow:hidden
}
#report-favorites-div{
padding:10px 20px;
}
#report-favorites-div .report-favorites-row{
border:1px solid #D6D5D4;
background-color:#F3F3F4;
min-height:100px;
padding:20px;
margin-bottom:20px;
}
div.add-favorites-report{
font-size:22px;
text-align:center;
padding-top:35px;
}
.report-favorites-row .content-row{
overflow:hidden;
}
.report-favorites-row .content-row h2{
color:#E87E92;
font-size:18px;
}
.report-favorites-row:hover{
background-color:#F3EBEB !important;
border:1px solid #E87E92 !important;
}
.report-favorites-row .content-row .left-content{
float:left;
width:300px;
}
.report-favorites-row .content-row .right-content{
float:right;
width:200px;
text-align:right;
}
.report-favorites-row .content-row .right-content .run-div{
padding:20px;
}
.report-favorites-row .content-row .right-content .run-div a{
padding:5px 10px;
border:1px solid #424343;
border-radius:5px;
color:#424343;
font-weight:bold;
background-color:#E87E92;
}
.report-favorites-row .content-row .right-content .action-icon-div{
padding:20px;
}
.report-favorites-row .content-row .right-content .action-icon-div a{
padding:10px 5px;
}